@font-face {
  font-family: sp-font;
  src: url(/sp.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: sp-font;
}

body {
  background: #2c3e50;
  color: #ecf0f1;
  
}

.app {
  box-sizing: border-box;
  padding: 10%;
}

.centered {
  
}

.app input[type=text] {
  width: 100%;
  padding: 30px;
  font-size: 30px;
  box-sizing: border-box;
}

#take-picture {
  display: none;
}

.user-photo {
  width: 100%;
}
.app button,
.btn {
  display: block;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 30px;
  background: #1abc9c;
  border: 0px solid;
  border-bottom: 5px solid #16a085;
  color: #ecf0f1;
}