* {
  margin: 0;
  padding: 0;
}

.app {
  box-sizing: border-box;
  padding: 10%;
}

.centered {
  
}

.app input[type=text] {
  width: 100%;
  padding: 30px;
  font-size: 30px;
  box-sizing: border-box;
}

.app button {
  width: 100%;
  padding: 30px;
  font-size: 30px;
}

#take-picture {
  display: none;
}

.user-photo {
  width: 100%;
}

.btn {
  display: block;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 30px;
  background: #1abc9c;
  border-bottom: 5px solid #16a085;
  color: #ecf0f1;
}